<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopingo - eCommerce Mobile HTML Template</title>

    <!-- Plugins -->

    <!--index-->
    <link rel="stylesheet" type="text/css" href="{% static 'user/assets/plugins/metismenu/metisMenu.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'user/assets/plugins/metismenu/mm-vertical.css' %}" />
    <!--home-->
    <link rel="stylesheet" type="text/css" href="{% static 'user/assets/plugins/slick/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'user/assets/plugins/slick/slick-theme.css' %}" />
    
    <!--CSS Files-->

    <!--index-->
    <link href="{% static 'user/assets/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="{% static 'user/assets/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'user/assets/css/dark-theme.css' %}" rel="stylesheet"/>

    


    <!--main-->
    <link rel="stylesheet" href="{% static 'user/mine/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'user/mine/style.css' %}">
    <!---->

    
    
    
  </head>
  <body>

    {% block content %}
	  {% endblock content %}


    <!--JS Files-->  
    
    <!--index-->
    <script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'user/assets/js/cookies-theme-switcher.js' %}"></script>
    <script src="{% static 'user/assets/js/loader.js' %}"></script>

    <!--home-->
    <script src="{% static 'user/assets/plugins/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'user/assets/plugins/slick/slick.min.js' %}"></script>
    <script src="{% static 'user/assets/js/main.js' %}"></script>
    <script src="{% static 'user/assets/js/index.js' %}"></script>
    <script src="{% static 'user/assets/js/product-details.js' %}"></script>

    


    <!--main-->
    <script src="{% static 'user/mine/js/mine.js' %}"></script>

    


    
   
  </body>
</html>